<div class="card">
    <p-toast></p-toast>
    <h1>CREAR PEDIDO</h1>
    <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input
                    maxlength="10"
                    inputId="documento_cliente"
                    pInputText
                    (change)="getCliente(pedido.get('documento_cliente').value)"
                    [formControl]="pedido.get('documento_cliente')"
                    (blur)="quitarEspaciosBlancos('documento_cliente')"
                />
                <label for="documento_cliente"
                    >Cédula <span style="color: red">*</span></label
                >
            </span>
              <!-- Mensajes de advertencia -->
              <div
              *ngIf="
                  pedido.get('documento_cliente').invalid &&
                  pedido.get('documento_cliente').touched
              "
              class="error-message"
          >
              <div
                  *ngIf="pedido.get('documento_cliente').hasError('required')"
              >
                  La Cédula es requerida.
              </div>
              <div *ngIf="pedido.get('documento_cliente').hasError('pattern')">
                  Solo se permiten números y max de 10 caracteres.
              </div>
              <!-- Añade más mensajes de advertencia según sea necesario -->
          </div>
        </div>
        <!-- Tipo de Cliente -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input
                    [readonly]="true"
                    type="text"
                    id="tipo_cliente"
                    pInputText
                    [formControl]="pedido.get('tipo_cliente')"
                    (input)="
                        pedido.get('tipo_cliente').setValue($event.target.value)
                    "
                    disabled
                />
                <label for="inputtext">Tipo de Cliente</label>
            </span>
            <div
                *ngIf="
                    pedido.get('tipo_cliente').invalid &&
                    pedido.get('tipo_cliente').touched
                "
                style="color: red"
            >
                El tipo de cliente es requerido
            </div>
        </div>
        <div
            class="field col-12 md:col-3"
            *ngIf="pedido.get('tipo_cliente').value === 'Persona jurídica'"
        >
            <span class="p-float-label">
                <input
                    disabled
                    type="text"
                    id="nit_empresa_cliente"
                    pInputText
                    [formControl]="pedido.get('nit_empresa_cliente')"
                    (input)="
                        pedido
                            .get('nit_empresa_cliente')
                            .setValue($event.target.value)
                    "
                />
                <label for="nit_empresa_cliente">NIT Empresa</label>
            </span>
        </div>

        <!-- Nombre Jurídico (solo visible si el tipo de cliente es Empresa) -->
        <div
            class="field col-12 md:col-3"
            *ngIf="pedido.get('tipo_cliente').value === 'Persona jurídica'"
        >
            <span class="p-float-label">
                <input
                    [readonly]="true"
                    type="text"
                    id="nombre_juridico"
                    pInputText
                    [formControl]="pedido.get('nombre_juridico')"
                    (input)="
                        pedido
                            .get('nombre_juridico')
                            .setValue($event.target.value)
                    "
                    disabled
                >
                <label for="inputtext">Nombre Empresa</label>
            </span>
            <div
                *ngIf="
                    pedido.get('nombre_juridico').invalid &&
                    pedido.get('nombre_juridico').touched
                "
                style="color: red"
            >
                El nombre jurídico es requerido
            </div>
        </div>
        <!-- Nombre Contacto (solo visible si el tipo de cliente es Persona natural) -->
        <div
            class="field col-12 md:col-3"
            *ngIf="pedido.get('tipo_cliente').value === 'Persona natural'"
        >
            <span class="p-float-label">
                <input
                    [readonly]="true"
                    type="text"
                    id="nombre_contacto"
                    pInputText
                    [formControl]="pedido.get('nombre_contacto')"
                    (input)="
                        pedido
                            .get('nombre_contacto')
                            .setValue($event.target.value)
                    "
                    disabled
                />
                <label for="inputtext">Nombre cliente</label>
            </span>
            <div
                *ngIf="
                    pedido.get('nombre_contacto').invalid &&
                    pedido.get('nombre_contacto').touched
                "
                style="color: red"
            >
                El nombre de contacto es requerido
            </div>
        </div>
        <!-- Quien recibe -->
        <div
            class="field col-12 md:col-3"
            *ngIf="pedido.get('tipo_cliente').value === 'Persona natural'"
        >
            <span class="p-float-label">
                <input
                    [readonly]="!clienteExistente"
                    type="text"
                    id="quien_recibe"
                    pInputText
                    [formControl]="pedido.get('quien_recibe')"
                    maxlength="20"
                    (blur)="quitarEspaciosBlancos('quien_recibe')"
                />
                <label for="quien_recibe"
                    >Quien Recibe <span style="color: red">*</span></label
                >
            </span>
            <div
                *ngIf="
                    pedido.get('quien_recibe').invalid &&
                    pedido.get('quien_recibe').touched
                "
                class="error-message"
            >
                <div *ngIf="pedido.get('quien_recibe').hasError('required')">
                    Quien Recibe es requerido.
                </div>
                <div *ngIf="pedido.get('quien_recibe').hasError('pattern')">
                    Solo se permiten letras y hasta 20 caracteres.
                </div>
            </div>
        </div>
        <!-- Telefono cliente -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input
                    [readonly]="!clienteExistente"
                    type="text"
                    id="telefono_cliente"
                    pInputText
                    [formControl]="pedido.get('telefono_cliente')"
                    maxlength="10"
                    (blur)="quitarEspaciosBlancos('telefono_cliente')"
                />
                <label for="telefono_cliente"
                    >Teléfono <span style="color: red">*</span></label
                >
            </span>

            <!-- Mensajes de advertencia -->
            <div
                *ngIf="
                    pedido.get('telefono_cliente').invalid &&
                    pedido.get('telefono_cliente').touched
                "
                class="error-message"
            >
                <div
                    *ngIf="pedido.get('telefono_cliente').hasError('required')"
                >
                    El teléfono es requerido.
                </div>
                <div *ngIf="pedido.get('telefono_cliente').hasError('pattern')">
                    Solo se permiten números y max de 10 caracteres.
                </div>
                <!-- Añade más mensajes de advertencia según sea necesario -->
            </div>
        </div>

        <!-- Dirección Entrega -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input
                    [readonly]="!clienteExistente"
                    type="text"
                    id="direccion_entrega"
                    pInputText
                    [formControl]="pedido.get('direccion_entrega')"
                    maxlength="40"
                />
                <label for="direccion_entrega"
                    >Dirección <span style="color: red">*</span></label
                >
            </span>
            <div
                *ngIf="
                    pedido.get('direccion_entrega').invalid &&
                    pedido.get('direccion_entrega').touched
                "
                class="error-message"
            >
                <div
                    *ngIf="pedido.get('direccion_entrega').hasError('required')"
                >
                    La dirección es requerida.
                </div>
            </div>
        </div>
        <!-- Ciudad Cliente -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input
                    [readonly]="!clienteExistente"
                    type="text"
                    id="ciudad_cliente"
                    pInputText
                    [formControl]="pedido.get('ciudad_cliente')"
                    maxlength="15"
                    (blur)="quitarEspaciosBlancos('ciudad_cliente')"
                />
                <label for="ciudad_cliente"
                    >Ciudad <span style="color: red">*</span></label
                >
            </span>
            <div
                *ngIf="
                    pedido.get('ciudad_cliente').invalid &&
                    pedido.get('ciudad_cliente').touched
                "
                class="error-message"
            >
                <div *ngIf="pedido.get('ciudad_cliente').hasError('required')">
                    Ciudad es requerida.
                </div>
                <div *ngIf="pedido.get('ciudad_cliente').hasError('pattern')">
                    Solo se permiten letras y máximo 15 caracteres.
                </div>
            </div>
        </div>
        <!-- Barrio Cliente -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <input
                    [readonly]="!clienteExistente"
                    type="text"
                    id="barrio_cliente"
                    pInputText
                    [formControl]="pedido.get('barrio_cliente')"
                    maxlength="20"
                    (blur)="quitarEspaciosBlancos('barrio_cliente')"
                />
                <label for="barrio_cliente"
                    >Barrio <span style="color: red">*</span></label
                >
            </span>

            <!-- Mensajes de advertencia -->
            <div
                *ngIf="
                    pedido.get('barrio_cliente').invalid &&
                    pedido.get('barrio_cliente').touched
                "
                class="error-message"
            >
                <div *ngIf="pedido.get('barrio_cliente').hasError('required')">
                    El barrio es requerido.
                </div>
                <div *ngIf="pedido.get('barrio_cliente').hasError('pattern')">
                    Solo se permiten letras y max de 20 caracteres.
                </div>
                <!-- Añade más mensajes de advertencia según sea necesario -->
            </div>
        </div>
        <!-- Fecha Entrega Pedido -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <p-calendar
                    readonlyInput="true"
                    [formControl]="pedido.get('fecha_entrega_pedido')"
                    dateFormat="yy/mm/dd"
                    inputId="calendar"
                    [minDate]="minDate"
                ></p-calendar>
                <label for="calendar"
                    >Fecha Entrega <span style="color: red">*</span></label
                >
            </span>
            <div
                *ngIf="
                    pedido.get('fecha_entrega_pedido').invalid &&
                    pedido.get('fecha_entrega_pedido').touched
                "
                class="error-message"
            >
                <div
                    *ngIf="
                        pedido.get('fecha_entrega_pedido').hasError('required')
                    "
                >
                    La fecha de entrega es requerida.
                </div>
                <!-- Añade más mensajes de advertencia según sea necesario -->
            </div>
        </div>

        <!-- Método de Pago -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <p-dropdown
                    [readonly]="!clienteExistente"
                    inputId="dropdown"
                    id="metodo_pago"
                    [autoDisplayFirst]="false"
                    [options]="metodoPago"
                    [formControl]="pedido.get('metodo_pago')"
                ></p-dropdown>
                <label for="dropdown"
                    >Método de Pago <span style="color: red">*</span></label
                >
            </span>
            <div
                *ngIf="
                    pedido.get('metodo_pago').invalid &&
                    pedido.get('metodo_pago').touched
                "
                class="error-message"
            >
                <div *ngIf="pedido.get('metodo_pago').hasError('required')">
                    El metodo de pago es requerido.
                </div>
                <!-- Añade más mensajes de advertencia según sea necesario -->
            </div>
        </div>

        <!-- Método de Pago -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <p-dropdown
                    [readonly]="!clienteExistente"
                    inputId="dropdown"
                    id="estado_pago"
                    [autoDisplayFirst]="false"
                    [options]="estadoPago"
                    [formControl]="pedido.get('estado_pago')"
                ></p-dropdown>
                <label for="dropdown"
                    >Estado Pago <span style="color: red">*</span></label
                >
            </span>
            <div
                *ngIf="
                    pedido.get('estado_pago').invalid &&
                    pedido.get('estado_pago').touched
                "
                class="error-message"
            >
                <div *ngIf="pedido.get('estado_pago').hasError('required')">
                    El metodo de pago es requerido.
                </div>
                <!-- Añade más mensajes de advertencia según sea necesario -->
            </div>
        </div>
 <!-- Tipo de entrega -->
 <div class="field col-12 md:col-3"
 >
    <span class="p-float-label">
        <p-dropdown
            inputId="dropdown"
            id="tipo_entrega"
            [autoDisplayFirst]="false"
            [options]="tipoEntrega"
            [formControl]="pedido.get('tipo_entrega')"
        ></p-dropdown>
        <label for="dropdown"
            >Tipo de entrega <span style="color: red">*</span></label
        >
    </span>
    <div
        *ngIf="
            pedido.get('tipo_entrega').invalid &&
            pedido.get('tipo_entrega').touched
        "
        class="error-message"
    >
        <div *ngIf="pedido.get('tipo_entrega').hasError('required')">
            El tipo deentrega es requerido.
        </div>
        <!-- Añade más mensajes de advertencia según sea necesario -->
    </div>
</div>
        <!-- Valor Domicilio -->
        <div class="field col-12 md:col-3" *ngIf="pedido.get('tipo_entrega').value === 'Domicilio'">
            <span class="p-float-label">
                <label for="valor_domicilio" class="input-label"
                    >Valor Domicilio</label
                >
                <input
                    class="form-control valor-domicilio-input"
                    type="number"
                    [readonly]="!clienteExistente"
                    inputId="valor_domicilio"
                    [formControl]="pedido.get('valor_domicilio')"
                    (input)="eliminarCerosIzquierda($event)"
                    (paste)="eliminarCerosIzquierda($event)"
                />
            </span>
            <div
                *ngIf="
                    pedido.get('valor_domicilio')?.hasError('required') &&
                    pedido.get('valor_domicilio')?.touched
                "
                style="color: red"
            >
                El valor del domicilio es requerido
            </div>
            <div
                *ngIf="
                    pedido.get('valor_domicilio')?.hasError('min') &&
                    pedido.get('valor_domicilio')?.touched
                "
                style="color: red"
            >
                El valor del domicilio es menor al mínimo permitido
            </div>
        </div>
    </div>

    <!-- Categoria -->

    <div
        *ngIf="
            pedido.get('tipo_cliente').value === 'Persona jurídica' ||
            pedido.get('tipo_cliente').value === 'Persona natural'
        "
        class="grid p-fluid mt-3"
    >
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <select
                    [readonly]="!clienteExistente"
                    class="p-element p-inputtext ng-star-inserted"
                    [(ngModel)]="categoriaSeleccionada"
                    (change)="categoriaOnChange()"
                    [ngModelOptions]="{ standalone: true }"
                >
                    <option
                        *ngFor="let categoria of categorias"
                        [value]="categoria.nombre_categoria_producto"
                    >
                        {{ categoria.nombre_categoria_producto }}
                    </option>
                </select>
                <label for="categoria" style="margin-top: -40px"
                    >Categoría</label
                >
            </span>
            <div
                *ngIf="!categoriaSeleccionada && categoriaSeleccionada !== 0"
                style="color: red"
            >
                La categoría es requerida
            </div>
        </div>

        <!-- Productos de la Categoría -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <p-dropdown
                    [readonly]="!clienteExistente"
                    inputId="productosCategoria"
                    [autoDisplayFirst]="false"
                    [options]="productosCategoria"
                    [value]="productoSeleccionado"
                    optionLabel="nombre_producto"
                    (onChange)="productoSeleccionado = $event.value"
                ></p-dropdown>
                <label for="productos">Productos</label>
            </span>
            <div
                *ngIf="!productoSeleccionado && productoSeleccionado !== 0"
                style="color: red"
            >
                El producto es requerido
            </div>
        </div>
        <!-- Cantidad Producto -->
        <div class="field col-12 md:col-3">
            <span class="p-float-label">
                <p-inputNumber
                    [readonly]="!clienteExistente"
                    inputId="cantidad_producto"
                    [(ngModel)]="cantidad_producto"
                    [ngModelOptions]="{ standalone: true }"
                >
                </p-inputNumber>
                <label htmlFor="number-input">Cantidad</label>
            </span>
            <div
                *ngIf="!cantidad_producto && cantidad_producto !== 0"
                style="color: red"
            >
                La cantidad del producto es requerida
            </div>
        </div>

        <!-- Botón Agregar Producto -->
        <div class="field col-12 md:col-3">
            <button
                pButton
                pRipple
                label="Agregar Producto"
                icon="pi pi-user-plus"
                class="p-button-success mr-2"
                (click)="agregarProductoExistente(); limpiarCampos()"
                [disabled]="
                    (!productoSeleccionado && productoSeleccionado !== 0) ||
                    cantidad_producto == 0 ||
                    cantidad_producto == e
                "
            ></button>
            <div
                *ngIf="
                    (!productoSeleccionado && productoSeleccionado !== 0) ||
                    cantidad_producto == 0 ||
                    cantidad_producto == e
                "
                style="color: red"
            >
                Agregue un producto válido antes de continuar
            </div>
        </div>
    </div>
    <!-- #tabla productos -->
    <div class="grid p-fluid mt-3">
        <p-table [value]="productsFormArray.controls">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="12">Lista de Productos</th>
                </tr>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Categoria</th>
                    <th>cantidad</th>
                    <th>Precio Unitario</th>
                    <th>SubTotal</th>
                    <th>Accion</th>
                    <!-- Agrega una columna para los botones de eliminación -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.get("nombre_producto")?.value }}</td>
                    <td>
                        {{ product.get("nombre_categoria_producto")?.value }}
                    </td>
                    <td>{{ product.get("cantidad_producto")?.value }}</td>
                    <td>
                        {{
                            pedido.get("tipo_cliente").value ===
                            "Persona jurídica"
                                ? product.get("precio_por_mayor_ico")?.value
                                : product.get("precio_ico")?.value
                        }}
                    </td>
                    <td>{{ product.get("precio_total_producto")?.value }}</td>
                    <td>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-times"
                            class="p-button-rounded p-button-danger mr-2"
                            (click)="eliminarProducto(product)"
                            style="width: 2.5rem; height: 2.5rem"
                        ></button>
                    </td>
                </tr>
                <br />
            </ng-template>
        </p-table>
    </div>
    <br /><br />
    <div class="formgrid grid justify-end">
        <div class="field col-6 md-3">
            <span class="p-float-label">
                <p-inputNumber
                    inputId="subtotal_venta"
                    [formControl]="pedido.get('subtotal_venta')"
                    readonly="true"
                ></p-inputNumber>
                <label for="subtotal_venta"  class="custom-label">Subtotal Venta</label>
            </span>
        </div>

        <div class="field col-6 md-3">
            <span class="p-float-label">
                <p-inputNumber
                    inputId="precio_total_venta"
                    [formControl]="pedido.get('precio_total_venta')"
                    readonly="true"
                ></p-inputNumber>
                <label for="precio_total_venta"  class="custom-label">Precio Total Venta</label>
            </span>
        </div>
    </div>

    <div class="my-2">
        <button
            pButton
            pRipple
            label="Crear Pedido"
            icon="pi pi-user-plus"
            class="p-button-success mr-2"
            (click)="crearPedido()"
        ></button>
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-user-plus"
            class="p-button-danger mr-2"
            (click)="cancelarCreacion()"
        ></button>
    </div>
</div>
