
/* Ajustes generales para la tabla y su contenedor */
.grid {
  width: 90%;
}

/* Ajustes específicos para la tabla */
p-table {
  width: 100%;
  display: table;
  margin-bottom: 20px; /* Ajusta según sea necesario */
}

/* Otras clases para el formato de la tabla */
.my-2 {
  text-align: center;
}

.my-2 button {
  margin: 0 auto 10px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary-item {
  display: flex;
  align-items: center;
  width: 300px;
}

label {
    margin-right: 10px;
    width: 120px; 
    text-align: right;
}
 
input{
  height: 45px;
}

.field input {
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 8px; /* Espaciado interno */
}

.field input:focus {
  outline: none; /* Elimina el contorno cuando el input está enfocado */
  border-color: #007bff; /* Cambia el color del borde al enfocar el input */
}

/* Estilos para los mensajes de error */
.field div[style^="color: red"] {
  margin-top: 5px; /* Espaciado superior para los mensajes de error */
  font-size: 12px; /* Tamaño de fuente para los mensajes de error */
}



.input-label {
  position: absolute;
  top: -10px;
  left: -20px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.error-message {
  color: red;
}

.field label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem; /* Espacio entre la etiqueta y el campo */
}

.custom-label {
  font-size: 20px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  color: #333; /* Color del texto */
}

.valor-domicilio-container {
  display: flex;
  align-items: center;
}

.valor-domicilio-container .input-label {
  flex: 0 0 auto; /* Para que el label no crezca */
  margin-right: 10px; /* Ajusta el espacio entre el label y el input según sea necesario */
}

.valor-domicilio-container .form-control {
  flex: 1; /* Para que el input ocupe el espacio restante */
}








