<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Crear Cliente" icon="pi pi-user-plus" class="p-button-success mr-2" (click)="openNewClientesDialog()"></button>
                    </div>
                </ng-template>
            
                
            </p-toolbar>
              <p-table #dt [value]="clientes" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedClientes" selectionMode="multiple" dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h4 class="m-0">Listado de Clientes</h4>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Codigo cliente</th>
                        <th pSortableColumn="name">tipo cliente</th>
                        <th pSortableColumn="name">documento cliente</th>
                        <th pSortableColumn="name">nombre contacto</th>
                        <th pSortableColumn="name">celular cliente</th>
                        <th pSortableColumn="name">Estado</th>
                        <th pSortableColumn="name">Aciones</th>
                        
                    </tr>
                 </ng-template>
                <ng-template pTemplate="body" let-clientes>
                    <tr>
                        
                        <td style="width:6%; min-width:10rem;">
                            {{ clientes.codigo_cliente }}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            {{ clientes.tipo_cliente }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            {{ clientes.numero_documento_cliente}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            {{ clientes.nombre_contacto }}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            {{ clientes.celular_cliente }}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            {{ clientes.estado_cliente ? 'Activo' : 'Inactivo' }}
                        </td>
                        
                        <td>
                            <div class="flex">
                                <p-inputSwitch [(ngModel)]="valSwitch"></p-inputSwitch>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="deleteclientes(clientes)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
