.table-container {
    display: flex;
    justify-content: center;
}

/* Estilos para la tabla */
p-table {
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    width: 100%; /* Ajusta el ancho de la tabla */
}

th, td {
    padding: 12px; /* Ajusta el espaciado interno de las celdas */
}
.error-message {
    color: red;
}


.custom-label {
    font-size: 18px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
  }
  
  .input-label-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;
}


  