<p-toast></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
    style="background-image: url('assets/layout/images/Pancake-fondo.jpg'); background-size: cover; background-position: center;">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius: 40px; padding: 0.3rem; background: linear-gradient(180deg, rgba(255, 218, 123, 0.965) 10%, rgba(249, 233, 192, 0.965) 30%);">
            <div class="w-full surface-card py-4 px-3 sm:px-6" style="border-radius: 40px; max-width: 400px;">
                <div class="text-center mb-3">
                    <img src="assets/layout/images/Logo-parisina-Login.png" alt="Image" height="120" class="mb-3">
                    <div class="text-900 text-xl font-medium mb-2">Recuperar contraseña</div>
                </div>

                <br>

                <form [formGroup]="formularioCorreo" (ngSubmit)="enviarCorreo()">
                    <div class="field mt-4" style="margin-bottom: 15px;">
                        <span class="p-float-label">
                            <input type="email" pInputText id="correo_electronico" formControlName="correo_electronico"
                                style="width: 100%;" />
                            <label for="correo_electronico">Ingrese su correo electrónico</label>
                        </span>
                        <span
                            *ngIf="formularioCorreo.get('correo_electronico')?.hasError('required') && formularioCorreo.get('correo_electronico')?.touched"
                            style="color: red;">Correo electrónico
                            requerido.</span>
                        <span *ngIf="formularioCorreo.get('correo_electronico').hasError('email')"
                            style="color: red;">Correo
                            electrónico no
                            válido.</span>
                        <br>
                    </div>

                    <button pButton pRipple label="Enviar correo" class="w-full p-2 text-lg" type="submit"
                        [disabled]="!formularioCorreo.valid"></button>
                </form>
                <hr>
                <div class="text-center mb-2">
                    <a (click)="enviarlogin()" class="p-3 text-xl cursor-pointer"
                        style="color: rgba(89, 85, 85, 0.965); font-weight: bold;">
                        Atrás
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>