<div class="card px-6 py-6">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
        </ng-template>
    </p-toolbar>

    <p-tabView>
        <!-- Listado de pedidos Tomados---------------------------------------------->
        <p-tabPanel header="Listado de Pedidos Realizados">
            <p-table
                #dtPendientes
                [rows]="10"
                [globalFilterFields]="['nombre_contacto']"
                [paginator]="true"
                [rowsPerPageOptions]="[5, 10, 15]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                selectionMode="multiple"
                dataKey="_id"
            >
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h4 class="m-0">Mis Pedidos</h4>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="onGlobalFilter(dtPendientes, $event, 'Pendientes')"
                            placeholder="Buscar..."
                            class="w-full sm:w-auto"
                        />
                    </span>
                </div>
            </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="">
                            Nombre Cliente
                            <p-sortIcon field="nombre_contacto"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Dirección</th>
                        <th pSortableColumn="name">Fecha Entrega</th>
                        <th pSortableColumn="estado_pedido">
                            Estado<p-sortIcon
                                field="estado_pedido"
                            ></p-sortIcon>
                        </th>
                        <th pSortableColumn="estado_pago">
                            Estado Pago<p-sortIcon
                                field="estado_pago"
                            ></p-sortIcon>
                        </th>
                        <th pSortableColumn="precio_total_venta">
                            Valor Total<p-sortIcon
                                field="precio_total_venta"
                            ></p-sortIcon>
                        </th>

                        <th pSortableColumn="name">Aciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td style="width: 15%; min-width: 10rem">
                            {{ pedido.nombre_contacto }}
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            {{ pedido.tipo_cliente }}
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            {{ pedido.direccion_entrega }}
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            {{ pedido.fecha_entrega_pedido | slice : 0 : 10 }}
                        </td>

                        <td style="width: 15%; min-width: 5rem">
                            {{ pedido.estado_pedido }}
                        </td>
                        <td style="width: 15%; min-width: 5rem">
                            {{ pedido.estado_pago }}
                        </td>
                        <td style="width: 15%; min-width: 5rem">
                            {{ pedido.precio_total_venta }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    type="button"
                                    pButton
                                    pRipple
                                    icon="pi pi-eye"
                                    class="p-button-rounded p-button-primary mr-2"
                                    (click)="verDetallePedido(pedido._id)"
                                    pTooltip="Ver"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-chevron-right"
                                    class="p-button-rounded p-button-warning mr-2"
                                    (click)="
                                        abrirModal(
                                            pedido._id,
                                            pedido.estado_pedido
                                        )
                                    "
                                    pTooltip="Cambiar Estado"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-times"
                                    class="p-button-rounded p-button-danger"
                                    (click)="abrirModalAnular(pedido._id)"
                                    pTooltip="Anular"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        </p-tabView>
    </div>
    
