.custom-table {
    width: 70%; /* Ajusta según tus necesidades */
    margin: auto; /* Centra la tabla */
    border-collapse: collapse;
    margin-top: 10px;
}

.custom-table th, .custom-table td {
    border: 1px solid black; /* Bordes de color negro */
    padding: 8px;
    text-align: center; /* Centra el texto en las celdas */
}

.custom-table th {
    background-color: #f2f2f2;
}
.margin-top-20 {
    margin-top: 30px;
}


.clear {
    clear: both;
}
.custom-toggle .p-button {
    background-color: #f4f4f4;
    border: none;
    height: 30px;
    width: 60px;
}

.custom-toggle .p-button .p-button-label {
    font-size: 12px;
}

.custom-toggle .p-button .p-button-text {
    color: #495057;
}

.custom-toggle .p-button.p-togglebutton-checked {
    background-color: #007bff;
}

.custom-toggle .p-button.p-togglebutton-checked .p-button-text {
    color: #fff;
}
