<p-toast></p-toast>
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="Crear Usuario" icon="pi pi-user-plus" class="p-button-success mr-2"
                (click)="openNewUsuarioDialog()" pTooltip="Crear usuario"></button>
        </div>
    </ng-template>

</p-toolbar>
<p-table #dt [value]="usuarios" [globalFilterFields]="['correo_electronico', 'nombre_usuario']" [rows]="10"
    [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedUsuarios"
    selectionMode="multiple" dataKey="uid">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h4 class="m-0">Listado de Usuarios</h4>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar usuario"
                    class="w-full sm:w-auto" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="correo_electronico">Correo electronico<p-sortIcon
                    field="correo_electronico"></p-sortIcon></th>
            <th pSortableColumn="nombre_usuario">Nombre de usuario<p-sortIcon field="nombre_usuario"></p-sortIcon></th>
            <th pSortableColumn="rol_usuario.nombre_rol">Rol usuario<p-sortIcon
                    field="rol_usuario.nombre_rol"></p-sortIcon></th>
            <th pSortableColumn="estado_usuario">Estado<p-sortIcon field="estado_usuario"></p-sortIcon>
            </th>
            <th pSortableColumn="name">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>

            <td style="width:40%; min-width:10rem;">
                {{ usuario.correo_electronico }}
            </td>

            <td style="width:40%; min-width:10rem;">
                {{ usuario.nombre_usuario }}
            </td>

            <td style="width:20%; min-width:7rem;">
                {{ usuario.rol_usuario.nombre_rol }}
            </td>
            <td style="width:10%; min-width:7rem;">
                <span class="p-column-title">Estado</span>
                <!-- {{ categoria.estado_categoria_producto ? 'Activo' : 'Inactivo' }} -->
                <p-inputSwitch class="mr-2" [ngModel]="usuario.estado_usuario"
                    (onChange)="confirmarCambioEstado(usuario)" pTooltip="Cambiar estado"></p-inputSwitch>
            </td>
            <td style="width:10%; min-width:8rem;">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning"
                    (click)="editarUsuario(usuario)" pTooltip="Editar usuario"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="estadoUsuarioDialog" header="Confirmar cambio de estado" [modal]="true" [draggable]="false"
    [style]="{width:'450px'}" (onHide)="noCambiarEstado()">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="usuario">¿Está seguro de que desea cambiar el estado del usuario
            <b>{{usuario.correo_electronico}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-text" label="No" (click)="noCambiarEstado()"></button>
        <button pButton pRipple class="p-button-text" label="Si"
            (click)="cambiarEstadoUsuario(usuario.uid, !usuario.estado_usuario)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="usuarioDialog" [style]="{ width: '450px' }" header="Crear Usuario" [modal]="true"
    [draggable]="false" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formularioUsuario" (ngSubmit)="crearUsuario()">

            <div class="field mt-4">
                <label for="rol_usuario">Seleccione el rol del Usuario<span *ngIf="isRequired"
                        style="color: red;">*</span></label>
                <p-dropdown formControlName="rol_usuario" inputId="rol_usuario" id="rol_usuario"
                    [options]="rolesForCreation" [optionLabel]="'nombre_rol'"
                    placeholder="Seleccionar rol para el usuario"></p-dropdown>
            </div>

            <div class="field mt-4">
                <span class="p-float-label">
                    <input type="email" pInputText id="nombre_usuario" formControlName="nombre_usuario" />
                    <label for="nombre_usuario">Nombre del usuario</label>
                </span>
                <span
                    *ngIf="formularioUsuario.get('nombre_usuario')?.hasError('pattern') && formularioUsuario.get('nombre_usuario')?.touched && !formularioUsuario.get('nombre_usuario')?.hasError('maxlength')"
                    style="color: red;">El nombre no puede contener números.</span>
                <span
                    *ngIf="formularioUsuario.get('nombre_usuario')?.hasError('minlength') && formularioUsuario.get('nombre_usuario')?.touched"
                    style="color: red;">El nombre debe tener al menos 2 caracteres.</span>
                <span
                    *ngIf="formularioUsuario.get('nombre_usuario')?.hasError('maxlength') && formularioUsuario.get('nombre_usuario')?.touched"
                    style="color: red;">El nombre no puede tener más de 20 caracteres.</span>
                <span
                    *ngIf="formularioUsuario.get('nombre_usuario')?.hasError('caracteresEspeciales') && formularioUsuario.get('nombre_usuario')?.touched"
                    style="color: red;">El nombre no puede contener caracteres especiales.</span>
            </div>

            <div class="field mt-4">
                <span class="p-float-label">
                    <input type="text" pInputText id="correo_electronico" formControlName="correo_electronico" />
                    <label for="correo_electronico">Correo electrónico<span *ngIf="isRequired"
                            style="color: red;">*</span></label>
                </span>
                <span
                    *ngIf="formularioUsuario.get('correo_electronico')?.hasError('required') && formularioUsuario.get('correo_electronico')?.touched"
                    style="color: red;">Correo electrónico
                    requerido.</span>
                <span *ngIf="formularioUsuario.get('correo_electronico').hasError('email')" style="color: red;">Correo
                    electrónico no
                    válido.</span>
            </div>

            <div class="field mt-4" style="margin-bottom: 15px;">
                <span class="p-float-label">
                    <input type="password" pInputText id="contrasena_usuario" formControlName="contrasena_usuario" />
                    <label for="contrasena_usuario">Contraseña<span *ngIf="isRequired"
                            style="color: red;">*</span></label>
                </span>
                <span
                    *ngIf="formularioUsuario.get('contrasena_usuario')?.hasError('required') && formularioUsuario.get('contrasena_usuario')?.touched"
                    style="color: red;">La
                    contraseña
                    es requerida.</span>
                <span *ngIf="formularioUsuario.get('contrasena_usuario').hasError('minlength')" style="color: red;">La
                    contraseña debe
                    tener al menos 6 caracteres.</span>
                <span
                    *ngIf="formularioUsuario.get('contrasena_usuario')?.hasError('pattern') && formularioUsuario.get('contrasena_usuario')?.touched"
                    style="color: red;">
                    La contraseña debe contar con una mayúscula, una minúscula y un número.
                </span>
            </div>

            <div class="field mt-4">
                <span class="p-float-label">
                    <input type="password" pInputText id="confirmar_contrasena"
                        formControlName="confirmar_contrasena" />
                    <label for="confirmar_contrasena">Confirmar Contraseña<span *ngIf="isRequired"
                            style="color: red;">*</span></label>
                </span>
                <span
                    *ngIf="formularioUsuario.get('confirmar_contrasena')?.hasError('required') && formularioUsuario.get('confirmar_contrasena')?.touched"
                    style="color: red;">Confirmación de contraseña requerida.</span>
                <span *ngIf="formularioUsuario.hasError('contrasenaNoCoincide')" style="color: red;">Las contraseñas no
                    coinciden.</span>
                <span
                    *ngIf="formularioUsuario.get('confirmar_contrasena')?.value !== formularioUsuario.get('contrasena_usuario')?.value && formularioUsuario.get('confirmar_contrasena')?.touched"
                    style="color: red;">Las contraseñas no coinciden.</span>
            </div>

            <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
                <button pButton pRipple label="Cancelar" class="p-button-text" (click)="usuarioDialog = false"></button>
                <button type="submit" pButton pRipple label="Guardar" class="p-button-text"
                    [disabled]="!formularioUsuario.valid"></button>
            </div>
        </form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="mostrarConfirmacionUsuario" header="Confirmar creación de usuario" [modal]="true"
    [draggable]="false" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>¿Está seguro de que desea crear este usuario <b>{{ formularioUsuario.get('correo_electronico').value
                }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-button-text" label="No" (click)="mostrarConfirmacionUsuario = false"></button>
        <button pButton pRipple class="p-button-text" label="Sí" (click)="confirmarCrearUsuario()"></button>
    </ng-template>
</p-dialog>

<!-- <p-dialog [(visible)]="estadoCategoriaDialog" header="Confirmar cambio de estado" [modal]="true" [style]="{width:'450px'}" (onHide)="noCambiarEstado()">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="categoria">¿Está seguro de que desea cambiar el estado de la categoría <b>{{categoria.nombre_categoria_producto}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="noCambiarEstado()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="cambiarEstadoCategoria(categoria._id)"></button>
    </ng-template>
</p-dialog> -->


<p-dialog [(visible)]="editarUsuarioDialog" [style]="{ width: '450px' }" header="Editar Usuario" [modal]="true"
    [draggable]="false" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formularioEditarUsuario" (ngSubmit)="actualizarUsuario()">
            <!-- Aquí muestra los campos del formulario para editar los datos del usuario -->

            <div class="field">
                <label for="rol_usuario">Rol del Usuario</label>
                <p-dropdown formControlName="rol_usuario" inputId="rol_usuario" id="rol_usuario" [options]="roles"
                    [optionLabel]="'nombre_rol'" placeholder="Seleccionar rol" appendTo="body"></p-dropdown>
            </div>

            <div class="field">
                <label for="correo_electronico">Correo electrónico</label>
                <input type="text" pInputText id="correo_electronico" formControlName="correo_electronico" />
                <span
                    *ngIf="formularioEditarUsuario.get('correo_electronico')?.hasError('required') && formularioEditarUsuario.get('correo_electronico')?.touched"
                    style="color: red;">Correo electrónico
                    requerido.</span>
                <span *ngIf="formularioEditarUsuario.get('correo_electronico').hasError('email')"
                    style="color: red;">Correo
                    electrónico no
                    válido.</span>
            </div>

            <div class="field">
                <label for="nombre_usuario">Nombre de usuario</label>
                <input type="text" pInputText id="nombre_usuario" formControlName="nombre_usuario" />
                <span
                    *ngIf="formularioEditarUsuario.get('nombre_usuario')?.hasError('pattern') && formularioEditarUsuario.get('nombre_usuario')?.touched && !formularioEditarUsuario.get('nombre_usuario')?.hasError('maxlength')"
                    style="color: red;">El nombre no puede contener números.</span>
                <span
                    *ngIf="formularioEditarUsuario.get('nombre_usuario')?.hasError('minlength') && formularioEditarUsuario.get('nombre_usuario')?.touched"
                    style="color: red;">El nombre debe tener al menos 2 caracteres.</span>
                <span
                    *ngIf="formularioEditarUsuario.get('nombre_usuario')?.hasError('maxlength') && formularioEditarUsuario.get('nombre_usuario')?.touched"
                    style="color: red;">El nombre no puede tener más de 20 caracteres.</span>
            </div>

            <div class="field">
                <label for="estado_usuario">Estado del Usuario</label>
                <p-dropdown formControlName="estado_usuario" inputId="estado_usuario" [options]="estadoOptions"
                    placeholder="Seleccionar" appendTo="body"></p-dropdown>
            </div>

            <!-- Otros campos de edición -->

            <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
                <button pButton pRipple label="Cancelar" class="p-button-text"
                    (click)="editarUsuarioDialog = false"></button>
                <button type="submit" pButton pRipple label="Guardar" class="p-button-text"
                    [disabled]="!formularioEditarUsuario.valid"></button>
            </div>
        </form>
    </ng-template>


</p-dialog>