<div class="layout-topbar">
    <button *ngIf="!verificarUsuario()" #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button *ngIf="verificarUsuario() && innerWidth < 991" class="p-link layout-topbar-button" (click)="op3.toggle($event)">
        <i class="pi pi-bars"></i>
    </button>
        <p-overlayPanel #op3 [showCloseIcon]="false" [style]="{width: 'auto'}" styleClass="overlay-left-cliente">
            <ng-template pTemplate>
                <div class="formgrid grid">
                    <div class="field col">
                        <span class="enlaceMenu mr-8 ml-8" [routerLink]="['/']">Inicio</span>     
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <span class="enlaceMenu mr-8 ml-8" [routerLink]="['/catalogo-cliente']">Catálogo</span>     
                    </div>
                </div>
                <div *ngIf="verificarUsuario() && verificarUsuario2()" class="formgrid grid">
                    <div class="field col">
                        <span class="enlaceMenu mr-8 ml-8">Mis Pedidos</span>     
                    </div>
                </div>
                <div *ngIf="verificarUsuario() && verificarUsuario2()" [routerLink]="['/pedidoListar']" class="formgrid grid">
                    <div class="field col">
                        <span class="enlaceMenu mr-8 ml-8"  [routerLink]="['/pages/perfil']">Perfil</span>     
                    </div>
                </div>
            </ng-template>
        </p-overlayPanel>

    <a class="" routerLink="/">
        <img routerLink="/" src="assets/layout/images/Logo-parisina-Login-menú.png" alt="logo"
        style="width: 140px; height: auto;">
    </a>

    
    <div *ngIf="verificarUsuario() && innerWidth >= 991">
        <span class="enlaceMenu mr-8 ml-8" [routerLink]="['/']">Inicio</span>
        <span class="enlaceMenu mr-8" [routerLink]="['/catalogo-cliente']">Catálogo</span>
        <span *ngIf="verificarUsuario() && verificarUsuario2()" [routerLink]="['/pedidoListar']" class="enlaceMenu mr-8">Pedidos</span>
        <span *ngIf="verificarUsuario() && verificarUsuario2()" [routerLink]="['/pages/perfil']" class="enlaceMenu mr-8">Perfil</span>
    </div>
    
    <button *ngIf="verificarUsuario() && innerWidth < 991" type="button" icon="pi pi-shopping-cart" 
        pButton label="{{productosCarrito.length}}" 
        (click)="op2.toggle($event); anchoOverlay()" class="p-button-text p-button-lg ml-4"
        class="p-link layout-topbar-menu-button layout-topbar-button"><i class="pi pi-shopping-cart">{{productosCarrito.length}}</i></button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <button *ngIf="verificarUsuario() && innerWidth >= 991" type="button" icon="pi pi-shopping-cart" pButton label="{{productosCarrito.length}}" 
        (click)="op2.toggle($event); anchoOverlay()" class="enlaceMenu p-button-text p-button-lg ml-4"></button>
                <p-overlayPanel #op2 [showCloseIcon]="false" [style]="{width: anchoOverlayCarrito}">
                    <ng-template pTemplate>
                        <p-toolbar styleClass="mb-4">
                            <ng-template pTemplate="left">
                                <button pButton type="button" (click)="hacerPedido()" label="Hacer pedido" 
                                class="p-button-outlined ml-4 p-button-rounded p-button-raised p-button-help"></button>
                            </ng-template>
                    
                            <ng-template pTemplate="right">
                                <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: -20px;">
                                  <h5 class="mb-0">Total pedido:</h5>
                                  <h5 class="mt-2">{{totalCarrito | number}}</h5>
                                </div>
                              </ng-template>
                              
                        </p-toolbar>
                        
                        <p-table [value]="productosCarrito" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="op2.hide()" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="min-width:12rem">Producto</th>
                                    <th style="max-width:8rem">Precio Und</th>
                                    <th style="max-width:8rem">Cantidad</th>
                                    <th style="min-width:8rem">Precio Total</th>
                                    <th style="max-width:3rem">Borrar</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-product>
                                <tr [pSelectableRow]="rowData">
                                    <td>{{product.nombre_producto}}</td>
                                    <td>{{tipoCliente === 'Persona jurídica' ? (product.precio_por_mayor_ico | number) : (product.precio_ico | number)}}</td>
                                    <td>{{product.cantidad_producto}}</td>
                                    <td>{{product.precio_total_producto | number}}</td>
                                    <td><button
                                        pButton
                                        pRipple
                                        icon="pi pi-times"
                                        class="p-button-rounded p-button-danger p-button-sm mr-2"
                                        (click)="eliminarProductoCarrito(product)"
                                        pTooltip="Vaciar producto del carrito"
                                        tooltipPosition="bottom"
                                    ></button></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </p-overlayPanel>

        <button *ngIf="!verificarUsuario()" class="p-link layout-topbar-button" (click)="perfil()" pTooltip="Ver mi perfil" tooltipPosition="left">
            <i class="pi pi-user"></i>
            <span>Mi perfil</span>
        </button>
        <button *ngIf="hasToken()" class="p-link layout-topbar-button" (click)="logout()" pTooltip="Cerrar sesión" tooltipPosition="left">
            <i class="pi pi-sign-out"></i>
            <span>Cerrar sesión</span>
        </button>
        <button *ngIf="!hasToken()" class="p-link layout-topbar-button" routerLink="/auth/login" pTooltip="Iniciar Sesión" tooltipPosition="left">
            <i class="pi pi-sign-in"></i>
            <span>Iniciar sesión</span>
        </button>
    </div>
</div>

<p-dialog [(visible)]="confirmarCerrarSesionDialog" header="Confirmar para cerrar la sesión" [draggable]="false" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>¿Está seguro de que desea cerrar sesión?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="noCerrarSesion()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="cerrarSesion()"></button>
    </ng-template>
</p-dialog>