<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/Logo-parisina-Login-menú.png" alt="logo">
        <span></span>
    </a>
    
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="perfil()">
            <i class="pi pi-user"></i>
            <span>Mi perfil</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Cerrar sesión</span>
        </button>
    </div>
</div>