.cart-container {
    margin: 30px;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .item-title {
    font-weight: bold;
  }
  
  .item-description {
    color: #555;
  }
  
  .item-price {
    font-weight: bold;
    color: #28a745; // Puedes personalizar el color según tus preferencias
  }
  