<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
<!-- <button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success"></button> -->


        <div class="card px-6 py-6">            
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Actualizar Ordenes de Producción" icon="pi pi-refresh" class="p-button-success mr-2" (click)="nuevaCategoria()"></button>                        
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listOrdenesDeProduccion" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre_area','nombre_producto']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Ordenes de Producción</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>                        
                        <th pSortableColumn="nombre_area">Área<p-sortIcon field="nombre_area"></p-sortIcon></th>
                        <th pSortableColumn="nombre_producto">Producto<p-sortIcon field="nombre_producto"></p-sortIcon></th>                        
                        <th pSortableColumn="">Cantidad</th>
                        <th pSortableColumn="fecha_actualizacion_estado">Última actualización<p-sortIcon field="fecha_actualizacion_estado"></p-sortIcon></th>
                        <th pSortableColumn="fecha_entrega_pedido">Fecha entrega</th>
                        <th pSortableColumn="estado_orden">Estado</th>
                        <th pSortableColumn="">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ordenP>
                    <tr>                        
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.nombre_area }}
                        </td>
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.nombre_producto }}
                        </td>                      
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.cantidad_producto }}
                        </td>
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.fecha_actualizacion_estado }}
                        </td>
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.fecha_entrega_pedido }}
                        </td>
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.estado_orden }}
                        </td>
                        <td style="width:30%; min-width:10rem;">
                            <div class="flex">
                                
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarCategoria(categoria._id)"></button>                                
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>            
        </div>
        
        <!-- <p-dialog [(visible)]="editarCategoriaDialog" [style]="{width: '400px'}" header="Editar Categoría" [modal]="true" class="p-fluid" (onHide)="cerrarDialog()">            
            <form [formGroup]="formCategoria" (ngSubmit)="actualizarCategoria()">
                <div class="formgrid grid">
                    <div class="field col">
                        <span class="p-float-label">
                            <input formControlName="nombre_categoria_producto" id="nombre_categoria_producto" type="text" pInputText>
                            <label for="nombre_categoria_producto">Nombre</label>
                        </span>
                        <span *ngIf="formCategoria.get('nombre_categoria_producto')?.hasError('required') && formCategoria.get('nombre_categoria_producto')?.touched"
                        style="color: red;">
                            El nombre es requerido
                        </span>       
                        <span *ngIf="formCategoria.get('nombre_categoria_producto')?.hasError('pattern') && formCategoria.get('nombre_categoria_producto')?.touched"
                        style="color: red;">
                            El nombre solo debe contener letras y tener máximo 20 caracteres
                        </span>                
                    </div>
                </div>

                <div class="formgrid grid mt-4">
                    <div class="field col">
                        <span class="p-float-label">
                            <textarea rows="5" cols="30" pInputTextarea formControlName="descripcion_categoria_producto" id="descripcion_categoria_producto"></textarea>
                            <label for="descripcion_categoria_producto">Descripción</label>
                        </span>
                        <span *ngIf="formCategoria.get('descripcion_categoria_producto')?.hasError('required') && formCategoria.get('descripcion_categoria_producto')?.touched"
                        style="color: red;">
                            La descripción es requerida
                        </span>
                        <span *ngIf="formCategoria.get('descripcion_categoria_producto')?.hasError('pattern') && formCategoria.get('descripcion_categoria_producto')?.touched"
                        style="color: red;">
                            La descripción solo permite letras y los signos ",." y un máximo de 100 caracteres
                        </span>
                    </div>
                </div>

                <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="editarCategoriaDialog = false"></button>
                    <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="!formCategoria.valid"></button>
                </div>   
            </form>             
    </p-dialog> -->
    </div>
</div>
