<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
<!-- <button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success"></button> -->


        <div class="card px-6 py-6">            
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Generar Ordenes de Producción" icon="pi pi-list" class="p-button-success mr-2" (click)="seleccionarPedidosOrdenP()"></button>                        
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listOrdenesDeProduccion" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre_area','nombre_producto']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Ordenes de Producción</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>                        
                        <th pSortableColumn="nombre_area">Área</th>
                        <th pSortableColumn="nombre_producto">Producto</th>                        
                        <th pSortableColumn="">Cantidad</th>
                        <th pSortableColumn="fecha_actualizacion_estado">Última actualización</th>
                        <th pSortableColumn="fecha_entrega_pedido">Fecha entrega</th>
                        <th pSortableColumn="estado_orden">Estado</th>
                        <th pSortableColumn="">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ordenP>
                    <tr>                        
                        <td style="width:10%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.nombre_area }}
                        </td>
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.nombre_producto }}
                        </td>                      
                        <td style="width:10%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.cantidad_producto }}
                        </td>
                        <td style="width:15%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.fecha_actualizacion_estado }}
                        </td>
                        <td style="width:13%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.fecha_entrega_pedido | slice:0:10 }}
                        </td>
                        <!-- <td style="width:13%; min-width:5rem;"><span class="p-column-title"></span>
                            {{ ordenP.estado_orden }}
                        </td> -->
                        <td style="width: 13%; min-width: 5rem;">
                            <span class="p-column-title"></span>
                            <span [style.color]="'white'" [style.backgroundColor]="'blue'"
                                  style="border-radius: 5px; padding: 5px; font-weight: bold; display: inline-block;">
                              {{ ordenP.estado_orden }}
                            </span>
                        </td>

                        <td style="width:30%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple class="p-button-rounded p-button-warning mr-2" label="" (click)="confirmarActualizarOrdenDeProduccion(ordenP._id)">Terminado</button>                               
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>     
                   
        </div>


    <p-dialog [(visible)]="seleccionarOrdenPDialog" header="Orden de producción" [modal]="true" [style]="{width:'80%'}" (onHide)="noGenerarOrdenP()">
        <div class="card px-6 py-6">

            <p-table #pedidosOrden [value]="listPedidosOrden" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nit_empresa_cliente','documento_cliente','nombre_contacto','nombre_juridico']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="pedidosSeleccionados" selectionMode="multiple" [rowHover]="true" dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Pedidos pendientes para preparar</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(pedidosOrden, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>No Cliente</th>
                        <th>Nombre Cliente</th>
                        <th>Fecha Entrega</th>
                        <th>Ver Detalle</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <!-- (mouseenter)="op2.toggle($event)" (mouseleave)="op2.toggle($event)" -->
                    <tr  pTooltip="{{generarContenidoTooltip(pedido.detalle_pedido)}}" tooltipPosition="top" [escape]="false">
                        <td style="width:1%; min-width:1rem;">
                            <p-tableCheckbox [value]="pedido"></p-tableCheckbox>
                        </td>
                        <td style="width:20%; min-width:10rem;"><span class="p-column-title">No Cliente</span>
                            {{pedido.tipo_cliente == 'Persona jurídica' ? pedido.nit_empresa_cliente : pedido.documento_cliente}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{pedido.tipo_cliente == 'Persona jurídica' ? pedido.nombre_juridico : pedido.nombre_contacto}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{pedido.fecha_entrega_pedido | slice:0:10}}
                        </td>
                        <td style="width:20%; min-width:10rem;">

                            <div>
                                <!-- <button type="button" icon="pi pi-eye" pButton label="" (click)="op2.toggle($event)" class="p-button-text p-button-lg ml-4"></button> -->
                                <button type="button" icon="pi pi-eye" pButton label="" (click)="op2.toggle($event)"  pTooltip="Detalles"
                                class="p-button-text p-button-lg ml-4"></button>
                                <p-overlayPanel #op2  [style]="{width: '220px'}">
                                    <ng-template pTemplate >
                                        <p-table [value]="pedido.detalle_pedido" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="op2.hide()" responsiveLayout="scroll">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="min-width:5rem" pSortableColumn="name">Producto</th>
                                                    <th style="min-width:5rem" pSortableColumn="price">Cantidad</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-detalle>
                                                <tr [pSelectableRow]="rowData">
                                                    <td style="width:5%;">{{detalle.nombre_producto}}</td>
                                                    <td style="width:5%;">{{detalle.cantidad_producto}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </ng-template>
                                </p-overlayPanel>
                            </div>

                            

                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Preparar" icon="pi pi-plus" class="p-button-success" (click)="prepararPedidosSeleccionados()" [disabled]="!pedidosSeleccionados || !pedidosSeleccionados.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>
        </div>
    </p-dialog>


    <p-dialog [(visible)]="confirmarOrdenPDialog" header="Orden de producción" [modal]="true" [style]="{width:'450px'}" (onHide)="noGenerarOrdenP()">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-check-square mr-3" style="font-size: 1.2rem"></i>
            <span>¿Generar producción de los pedidos seleccionados?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="noGenerarOrdenP()"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="generarOrdenesDeProduccion()"></button>
        </ng-template>
    </p-dialog>


    <p-dialog [(visible)]="confirmarEstadoOrdenPDialog" header="Orden de producción" [modal]="true" [style]="{width:'450px'}" (onHide)="noActualizarOrdenDeProduccion()">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-sync mr-3" style="font-size: 1.2rem"></i>
            <span>¿Cambiar estado de la orden de producción a Terminado?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="noActualizarOrdenDeProduccion()"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="actualizarEstadoOrdenDeProduccion()"></button>
        </ng-template>
    </p-dialog>

    </div>
</div>
