<!-- <ul>
    <li *ngFor="let role of roles">
      <p>Nombre del Rol: {{ role.nombre_rol }}</p>
      <p>Estado del Rol: {{ role.estado_rol ? 'Activo' : 'Inactivo' }}</p>
      <p>Permisos del Rol:</p>
      <ul>
        <li *ngFor="let permiso of role.permisos_rol">
          {{ permiso.nombre_permiso }}
        </li>
      </ul>
    </li>
  </ul> 
  -->
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="Crear Rol" icon="pi pi-user-plus" class="p-button-success mr-2" ></button>
            
        </div>
        
    </ng-template>

    
</p-toolbar>
<p-table #dt [value]="roles" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedRoles" selectionMode="multiple" dataKey="_id">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h4 class="m-0">Listado de Roles</h4>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Nombre</th>
            <th pSortableColumn="name">Permisos</th>
            <th pSortableColumn="name">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rol>
        <tr>
            <td style="width:30%; min-width:10rem;">
                {{ rol.nombre_rol }}
            </td>
            <td style="width:30%; min-width:10rem;">
                <ul>
                    <li *ngFor="let permiso of rol.permisos_rol">
                        {{ permiso.nombre_permiso }}
                    </li>
                </ul>
            </td>
            <td style="width:15%; min-width:10rem;">
                <div class="flex justify-between items-center">
                    <p-inputSwitch [(ngModel)]="rol.estado_rol" (change)="mostrarDialogConfirmacion($event, rol)"></p-inputSwitch>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="deleteProduct(rol)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>